@import url ('https://fonts.googleapis.com/css2? family = Poppins: ital, wght @ 0,100; 0,200; 0,300; 0,400; 0,600; 0,700; 0,800; 0,900; 1,100; 1,200; 1,300; 1.400; 1.500; 1.600; 1.700; 1.800; 1.900 & display = swap ');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header{
  width: 100px;
  height: 100px;
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;

  transition: all 300ms;
}

.container_header{
   max-width: 1200px;
   height: 100%;
   display: flex;
   justify-content: space-between;
   margin: auto;
   padding: 0px 20px;
}

header .logo{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img{
  width: 150px;
}

.container_nav{
  position: relative;
  height: 100%;
}

nav{
  height: 100%;
}

nav ul{
  height: 100%
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li{
  margin: 0px 20px;
  list-style: none;
}

nav ul li{
  color: #37#37#37;
  font-size: 14px;
}

.select{
  background: #359EF9;
  padding: 10px 30px;
  color: white;
  border-radius: 20px;
}

/*COVER*/

.cover{
  width: 100px;
  padding-bottom: 60px;
  font-family: "Poppins", sans-serif;
}

.container_cover{
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cover .container_info{
    max-width: 400px;
    margin-top: 40px;
    z-index: 2;
}

.cover h1{
  max-width: 400px;
  font-size: 60px;
  font-weight: 900;
  color: #37#37#37
}

.cover h2{
  font-size: 60px;
  font-weight: 900;
  color: #FEBA0B;
  margin-top: -350px;
}

.cover p{
  margin-top: 10px;
  color: #37#37#37
}

.cover input〔type="button"〕{
  padding: 10px 40px;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  color: white;
  background: #FEBA0B;
  box-shadow: 1px 1px 30px -5px #20202049;
  cursor: pointer;
}

.cover input (type="button"):hover{
  box-shadow: 1px 1px 30px -5px #20202049;
}





















/****************************/

/*¡NO TOCAR CODIGO DE AQUÍ DEBAJO!*/


/*MUESTRA*/


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-esqueleto:#EFF3F5;
}


.container__article{
    max-width: 1000px;
    padding: 0px 20px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container__article .box__article{
    width: 200px;
    height: 250px;
    background: var(--color-esqueleto);
    margin: 20px;
}

/*AQUI COMIENZA EL FOOTER*/

footer{
    width: 100%;
    padding: 50px 0px;
    font-family: 'Nunito', sans-serif;
    *background-color: var(--color-esqueleto);
    background-image: url("../Images/background-footer.svg");
    background-size: cover;

    /*webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;

}

.box__footer h2{
    margin-bottom: 30px;
    color: #242424;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}
